body{
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#editor-label{
    color: white;
    padding: 2%
}

#editor{
    background-color: cornflowerblue;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#editor-textarea{
    border-style: double;
    border-color: blue;
    border-width: 5px;
    background-color: white;
}

#previewer{
    width: 70%;
    margin: auto;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    background-color: cornflowerblue;
}
#preview{
    background-color: white;
}